{% extends 'base.html' %} 
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <title>Eventos Deportes | Crear Evento</title>
  <meta name="description" content="Crear Evento">
  <meta name="author" content="diegof95">
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
      
      <label for="id_tipo">Tipo:</label>
      <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-futbol-o"></i></span>
        {% render_field form.tipo class="custom-select" %}
      </div>
      <br>
      <label for="id_nombre">Nombre:</label>
      <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-flag-o"></i></span>
        {% render_field form.nombre class="form-control" %}
      </div>
      <br>
      <label for="id_descripcion">Descripción:</label>
      <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-info-circle"></i></span>
        {% render_field form.descripcion class="form-control" %}
      </div>
      <br>
      <label for="id_imagen">Imagen:</label>
      <div class="input-group">
        <div class="input-group-prepend input-group-text"><i class="fas fa-image"></i></div>
        <div class="custom-file">
          {% render_field form.imagen class="custom-file-input" %}
          <label for="id_imagen" class="custom-file-label">Escoger imagen</label>
        </div>
      </div>
      <br>
      <label for="id_fecha">Fecha:</label>
      <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-calendar-o"></i></span>
         {% render_field form.fecha type="date" class="form-control" %}
      </div>
      <br>
      <label for="id_hora">Hora:</label>
     <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-clock-o"></i></span>
        {% render_field form.hora type="time" class="form-control" %}
      </div>
      <br>
      <label for="id_estadio">Estadio:</label>
      <div class="input-group">
        <span class="input-group-prepend input-group-text"><i class="fas fa-map-marker"></i></span>
        {% render_field form.estadio class="custom-select" %}
      </div>
      <br>
        <label for="id_estado">Estado:</label>
        <div class="input-group">
          <span class="input-group-prepend input-group-text"><i class="fas fa-check-square"></i></span>
          {% render_field form.estado class="custom-select" %}
        </div>
      <br>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
{% endblock %}