<nav class="nav navbar-expand-md navbar-light bg-light sticky-top container-fluid px-3">
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="" alt="Eventos Deportes Logo"/>
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>
    <div class="nav-item dropdown">
      <button class="btn nav-link dropdown-toggle" data-toggle="dropdown">
        <span>Diego</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item">Editar Perfil</div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">Cerrar Sesión</div>
      </div>
    </div>
  </div>
</nav>